@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Commissioner", sans-serif;
  background-color: rgb(241, 239, 239);
}
.navbar-default {
  background-image: url("../img/image-hero-desktop.jpg");
  height: 466px;
  background-size: contain;
  color: white;
}

.navbar {
  display: flex;
  padding: 4% 11%;
  justify-content: space-between;
}

#menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 16px;
}
.masterCraft-logo {
  position: absolute;
  left: 48%;
  top: 330px;
  z-index: 2;
}
.logo h2 {
  font-size: 24px;
}
.menu-item {
  margin-right: 24px;
  font-weight: 400;
  font-size: 16px;
}

main {
  position: absolute;
  top: 360px;
  left: 26%;
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(242, 241, 241);
  /* border: 2px solid black; */
  border-radius: 10px;
}

header {
  width: 100%;
  /* border: 2px solid red; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  border-radius: 10px;
}
#mainHeading {
  font-size: 30px;
  margin: 2%;
}
.theme {
  font-size: 18px;
  color: hsla(0, 0%, 48%, 0.918);
}

.project-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5%;
}

.bookmark-button {
  min-width: 170px;
  border-radius: 50px;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
}

.bookmark-button:focus {
  outline: none;
}

.bookmark-button a {
  color: rgb(81, 81, 81);
  margin-left: 10px;
  text-decoration: none;
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.bookmark-activated svg circle {
  fill: hsl(176, 72%, 28%);
}
.bookmark-activated a {
  color: hsl(176, 72%, 28%);
}
/* 
.bookmark-button:hover svg circle {
  fill: hsl(176, 72%, 28%);
}
.bookmark-button:hover a {
  color: hsl(176, 72%, 28%);
} */
.back-project-button {
  background-color: hsl(176, 50%, 47%);
  min-width: 160px;
  border-radius: 50px;
  padding: 0px 32px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-project-button:focus {
  outline: none;
}

.back-project-button a {
  color: white;
  text-decoration: none;
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

#counters {
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.donation-count {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.donation-count div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.donation-count .backed-amount {
  align-items: start;
  justify-content: start;
}
.backers {
  border-right: 0.5px solid hsl(0, 0%, 48%);
  border-left: 0.5px solid hsl(0, 0%, 48%);
}

.count {
  font-size: 32px;
  font-weight: 800;
  color: black;
}
.donation-count div p {
  line-height: 1.5;
  color: grey;
}
.progress {
  margin-top: 10px;
  border-radius: 25px;
}
.progress-bar {
  background-color: hsl(176, 50%, 47%);
}

.content {
  font-family: "Commissioner", sans-serif;
  padding: 20px 42px;
  background-color: white;
  border-radius: 10px;
}
.content h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 3;
}

.content p {
  font-size: 16px;
  color: grey;
  line-height: 1.5;
}
.donation-options {
  border: 1px solid rgba(202, 202, 202, 0.903);
  padding: 32px;
  margin: 5%;
  border-radius: 8px;
}
.donation-options h6 {
  font-weight: 800;
  font-size: 18px;
}
.pledge {
  float: right;
  color: hsl(176, 50%, 47%);
  font-size: 16px;
  font-weight: 500;
}
.donation-options p {
  line-height: 2;
}
.counter {
  display: flex;
  align-items: center;
  font-size: 36px;
}
.count {
  font-weight: bold;
  margin-right: 5px;
}
.left {
  font-size: 16px;
  color: grey;
}
.donation-footer {
  display: flex;
  justify-content: space-between;
}

.donation-selection {
  border: none;
  min-width: 120px;
  padding: 12px 28px;
  background-color: hsl(176, 50%, 47%);
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.active-states-bookmark:hover {
  background-color: hsl(176, 72%, 28%);
}

.donation-selection:focus {
  outline: none;
}
/* Back this project */
.back-this-project {
  position: absolute;
  width: 800px;
  z-index: 2;
  left: 26%;
  padding: 4% 4%;
  top: 200px;
  background-color: white;
  border-radius: 5px;
  visibility: hidden;
}

.backProjects {
  font-size: 24px;
  font-weight: 600;
}
.back-this-project p {
  color: #808080;
}
.rewards {
  border: 2px solid #808080;
  margin: 5% 0;
  border-radius: 5px;
  transition: all 0.9 ease-in;
}
.left {
  float: right;
}
.left strong {
  color: black;
}
.rewards:hover {
  border: 2px solid #3cb4ac;
}

.rewards label {
  font-weight: 700;
  margin-left: 15px;
}

.pledge-amount {
  color: #3cb4ac;
  margin-left: 5px;
  font-weight: 500;
}

.rewards input[type="radio"] {
  accent-color: rgb(51, 160, 160);
}

/*  close project */
.close-project-info {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  padding: 5px 12px;
  background-color: white;
  transition: transform all 0.3 ease-in-out;
}
.close-project-info:hover {
  transform: scale(1.2);
}
.close-project-info:focus {
  outline: none;
}
.close-project-info svg {
  background-color: white;
}

.enterPledge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.actionsAmount {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.actionsAmount label {
  color: #808080;
  font-weight: 600;
}
.inputDonation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  border: 2px solid black;
  width: 100px;
  border-radius: 25px;
}
.inputDonation label {
  font-size: 16px;
  margin: 2%;
}
.inputDonation input {
  border: none;
  max-width: 40px;
  font-size: 16px;
}
.inputDonation input:focus {
  outline: none;
}

/* to disable scrolling effect on input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.continue {
  width: 100px;
  border-radius: 25px;
  font-size: 16px;
  padding: 3%;
  font-weight: 700;
  background-color: #3cb4ac;
  color: white;
  border: 2px solid #3cb4ac;
}

.continue:focus {
  outline: none;
}

.blur {
  opacity: 0.5;
}

.fullOpacity {
  opacity: 1 !important;
  z-index: 999;
}
.beforeSelect {
  display: none;
}
